body {
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.resumepic {
    width: 618px;
    height: 800px;
}

.card-carousel #my-card {
    width: 618px;
    height: 800px;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY();
    transform: scale(0.6) translateY(0);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    
    transition: 1s;
}




        .card-carousel #my-card:after {
            content: '';
            position:sticky;
            height: 2px;
            width: 100%;
            border-radius: 100%;
            background-color: rgba(0,0,0,0.3);
            bottom: -1rem;
            -webkit-filter: blur(4px);
            filter: blur(4px);
        }




        .card-carousel #my-card.active {
            z-index: 3;
            -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
            opacity: 1;
            pointer-events: auto;
            transition: 1s;
            
            
        }




        .card-carousel #my-card.prev, .card-carousel #my-card.next {
            z-index: 2;
            -webkit-transform: scale(0.8) translateY(0) translateX(0);
            transform: scale(0.8) translateY(0) translateX(0);
            opacity: 0.6;
            pointer-events: auto;
            transition: 1s;
        }
