
@{
    ViewBag.Title = "Classmates";
}
@section typed{
            <h1 class="im">My <span class="typed"></span></h1>
            <p class="typed-items" data-typed-person="CLASSMATES">DEAR COLLEAGUES<span class="im"> | </span>AMAZING COMMRADES<span class="im"> | </span>FELLOW ASSASSOCIATES</p>
    }



    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="div-img-bg">
                        <div class="about-img">
                            <img src="assets/img/me.jpg" class="img-responsive" alt="me">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">im a ux /ui designer austin based who loves clean, simple & unique design. i also enjoy crafting brand identities, icons, & ilustration work. </p>
                        <p class="separator">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.English person.</p>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
        <div class="container">

            <div class="services-carousel owl-theme">

                <div class="services-block">

                    <i class="ion-ios-browsers-outline"></i>
                    <span>UI/UX DESIGN</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-lightbulb-outline"></i>
                    <span>BRAND IDENTITY</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-color-wand-outline"></i>
                    <span>WEB DESIGN</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-social-android-outline"></i>
                    <span>MOBILE APPS</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-analytics-outline"></i>
                    <span>Analytics</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-camera-outline"></i>
                    <span>PHOTOGRAPHY</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

            </div>

        </div>

    </div><!-- End Services Section -->


