
@{
    ViewBag.Title = "Links & Associates";
}
@section typed{
    <h1 class="im">My <span class="typed"></span></h1>
    <p class="typed-items" data-typed-person="CLASSMATES">DEAR COLLEAGUES<span class="im"> | </span>AMAZING COMMRADES<span class="im"> | </span>FELLOW ASSASSOCIATES</p>
}



<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <div class="col-lg-12 ">
        <div class="gallery">
            <div class="gallery-container">
                <div class="">
                    <a href="http://sarahledford.com/" title="Sarah Ledford">
                        <img class="gallery-item" src="~/Content/assets/img/SarahLedford (2).png" alt="Sarah Ledford" />
                    </a>
                    <div class="">
                        <div class="">
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="http://sawyergobin.com/" title="Sawyer Gobin">
                        <img class="gallery-item" src="~/Content/assets/img/SawyerGobin (2).png" alt="Sawyer Gobin" />
                    </a>
                    <div class="">
                        <div class="">
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="http://sawyergobin.com/" title="Colton Weeks">
                        <img class="gallery-item" src="~/Content/assets/img/ColtonWeeks (1).png" alt="Colton Weeks" />
                    </a>
                    <div class="">
                        <div class="">

                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="http://courtneycrespo.com/" title="Courtney Crespo"><img class="gallery-item" src="~/Content/assets/img/CourtneyCrespo (1).png" alt="Courtney Crespo" /></a>
                    <div class="">
                        <div class="">
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="http://codebywes.com/" title="Wesley Nelson"><img class="gallery-item" src="~/Content/assets/img/WesleyNelson (1).png" alt="Wesley Nelson" /></a>
                    <div class="">
                        <div class="">
                        </div>
                    </div>
                </div>
                @*<div class="">
                        <img class="gallery-item" src="~/Content/assets/img/2.jpg" alt="CJ" />
                        <div class="">
                            <div class="">
                                <a href="#" title="CJ"></a>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="gallery-controls"></div>
        </div>
    </div>
</div>





<!-- End About Section -->
<!-- ======= Services Section ======= -->
<div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

            <div class="services-block">

                <i class="ion-ios-browsers-outline"></i>
                <span>UI/UX DESIGN</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-lightbulb-outline"></i>
                <span>BRAND IDENTITY</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-color-wand-outline"></i>
                <span>WEB DESIGN</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-social-android-outline"></i>
                <span>MOBILE APPS</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-analytics-outline"></i>
                <span>Analytics</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-camera-outline"></i>
                <span>PHOTOGRAPHY</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

        </div>

    </div>

</div><!-- End Services Section -->
