@{
    ViewBag.Title = "Home Page";
}
@section typed{
   
        <h1 class="im">I'm <span class="typed"></span></h1>
        <p class="typed-items" data-typed-person="Jordan Hickman">a FULL STACK DEVELOPER<span class="im"> | </span>MOTIVATED<span class="im"> | </span>a MUSICIAN<span class="im"> | </span>a KANSAS CITITAN<span class="im"> | </span>a TEAM MATE.</p>
}



<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="~/Content/assets/img/2020-10-06-022929975_2.png" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-descr">

                    <p class="p-heading">I am a full stack web developer & freelancer in Kansas City. I love thoughtful & unique web designs as well as helping local buisnesses grow to a fuller potential.   </p>
                    <p class="separator">A Centriq Training Graduate and career ready. I am a hobbiest musician. I think highly of going to new places and trying new things. In my free time I like to travel and try new recipes in the kitchen or at a camp site. My mission is to use my skills to improve & assist buisnesses where it is needed, & to never stop learning. </p>

                </div>
            </div>
        </div>
    </div>
</div><!-- End About Section -->
<!-- ======= Services Section ======= -->
<div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

            <div class="services-block">

                <ion-icon name="logo-html5"></ion-icon>
                <span>FRONTEND DEVELOPMENT</span>
                <p class="separator">Knowledge of HTML5, CSS3, JavaScript, Repsonsive Design.  </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-lightbulb-outline"></i>
                <span>TROUBLESHOOTING</span>
                <p class="separator">I break, debug, and fix things. </p>

            </div>

            <div class="services-block">

                <ion-icon name="logo-github"></ion-icon>
                <span>GIT HUB</span>
                <p class="separator">I back up work and push to repositories. </p>

            </div>

            <div class="services-block">

                <ion-icon name="code-working-outline"></ion-icon>
                <span>C# FUNDAMENTALS</span>
                <p class="separator">The fundamentals of logic language C#. </p>

            </div>

            <div class="services-block">

                <ion-icon name="layers-outline"></ion-icon>
                <span>ASP.NET MVC</span>
                <p class="separator">This very site was done in ASP.NET MVC. </p>

            </div>

            <div class="services-block">

                <ion-icon name="git-pull-request-outline"></ion-icon>
                <span>BACK END BASICS</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-camera-outline"></i>
                <span>PHOTOGRAPHY</span>
                <p class="separator">A skillset I would love to pick up this year. </p>
            </div>
        </div>
    </div>
</div>
    

<!--Then Footer Then Credits-->
