
@{
    ViewBag.Title = "Paired Programming Project";
}
@section typed{
    <h1 class="im">Portfolio: <span class="typed"></span></h1>
    <p class="typed-items" data-typed-person="">Paired Programming (Agile)<span class="im"> | </span>FULL STACK<span class="im"> | </span>HTML<span class="im"> | </span>CSS<span class="im"> | </span>JAVASCRIPT<span class="im"> | </span>JQUERY<span class="im"> | </span>ASP.NET MVC<span class="im"> | </span>ENTITY FRAMEWORK ADO.NET<span class="im"> | </span></p>
}
<section class="portfolio-details">
    <div class="container">

        <div class="portfolio-details-container">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="~/Content/assets/img/sithuniversity1.png" class="img-fluid" alt="Sith University">
                <img src="~/Content/assets/img/sithuniversity2.png" class="img-fluid" alt="Students">
                <img src="~/Content/assets/img/sithuniversity3.png" class="img-fluid" alt="Documentation">
            </div>

            <div class="portfolio-info">
                <h3>Small Business Project Details</h3>
                <ul>
                    <li><strong>Category</strong>: Full Stack Design</li>
                    <li><strong>Langauges</strong>: Trello, Discord, Zoom, GitHub, HTML5, CSS3, JavaScript, jQuery,<br /> ASP.NET MVC, Entity Framework ADO.NET</li>
                    <li><strong>Project date</strong>: May, 2021</li>
                    <li><strong>Project URL</strong>: <a href="http://satpairedprogramming.jordanhickman.com/">Link to live site</a></li>
                    <li><strong>GitHub URL</strong>: <a href="https://github.com/jdhickman9221/SAT4">Link to GitHub Repo</a>
                    <li><strong>Documentation PDF:</strong>: <a href="~/Content/assets/img/SithAcademyDocumentation.pdf" target="_blank">Link to GitHub Repo</a></li>

            </div>

        </div>

        <div class="portfolio-description">
            <h2></h2>
            <p>
                The purpose of this Web App was to allow a university staff to create and schedule classes for their students who are enrolled. This is a study on AGILE programming and project management with a strict 48 hour deadline (or 'code freeze') for it's first 'sprint'. I was partnered with a fellow class mate Talor Griffin. We adhered to Agile and Scrum methodology to plan out and complete the project using technologies like Trello, Discord, and GitHub. Taking turns, one of us drove (wrote/typed) code while the other navigated (managed) code. We created a Sith University based on fictional client direction.<br /><span style="">Other functionalities:</span><br />- Using Identity Samples, we created anonymous, scheduleing, and administration roles. Using an external identity matrix document, we mapped the roles and placed limitations on views and CRUD functionalities respectively.<br />
                - Working contact form linked to my domain's e-mail.<br />
                - Admin role has the utmost control over the creation, editing, and deleting of objects represented in the data base.
                <br />
                - If you are an Admin you can access our documentation about the entire project, how it was completed, challenges we overcame (with code showing).

            </p>
        </div>
    </div>
</section>