
@{
    ViewBag.Title = "Resume";
}
@section typed{
    <h1 class="im">I HAVE  <span class="typed"></span></h1>
    <p class="typed-items" data-typed-person="GRADUATED CENTRIQ TRAINING">
        BEEN A COFFEE ROASTER <span class="im"> | </span> 4 YEARS, BEEN A TEAM MANAGER AND TRAINER <span class="im"> | </span> 7 YEARS
}
<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <!-- TODO: Resume carosel -->

</div>


<div class="whole-resume">
    <a class="venobox" data-gall="myGallery" title="Image 1" href="~/Content/assets/img/JordanHickmanDeveloperResume-1.png">
        <img class="resume" src="~/Content/assets/img/JordanHickmanDeveloperResume-1.png" alt="Jordan Hickman Resume Page 1" />
    </a>
    <a class="venobox" data-gall="myGallery" title="Image 2" href="~/Content/assets/img/JordanHickmanDeveloperResume-2.png">
        <img class="resume" src="~/Content/assets/img/JordanHickmanDeveloperResume-2.png" alt="Jordan Hickman Resume Page 2" />
    </a>
</div>
<div class="row download-resume">
    <div class="col-md-3 resume">
        <a href="~/Content/assets/img/Jordan Hickman Developer Resume.pdf" target="_blank" class="btn btn-secondary" id="res1">Resume</a>
    </div>
</div>


@section scripts {
    <script>
        $('.venobox').venobox({

            // settings here

        });


    </script>



}
