
@{
    ViewBag.Title = "Fed One Studio One";
}
@section typed{
    <h1 class="im">Portfolio: <span class="typed"></span></h1>
    <p class="typed-items" data-typed-person="">SMALL BUSINESS PROJECT<span class="im"> | </span>FRONT END<span class="im"> | </span>HTML<span class="im"> | </span>CSS</p>
}
<section class="portfolio-details">
    <div class="container">

        <div class="portfolio-details-container">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="~/Content/assets/img/FedOneDetails1.png" class="img-fluid" alt="">
                <img src="~/Content/assets/img/FedOneDetails2.png" class="img-fluid" alt="">
                <img src="~/Content/assets/img/FedOneDetails3.png" class="img-fluid" alt="">
            </div>

            <div class="portfolio-info">
                <h3>Small Business Project Details</h3>
                <ul>
                    <li><strong>Category</strong>: Front End Design</li>
                    <li><strong>Langauges</strong>: HTML5 (Markup), CSS3 (Stylesheet) strictly</li>
                    <li><strong>Project date</strong>: January, 2021</li>
                    <li><strong>Project URL</strong>: <a href="http://ibrewlab.jordanhickman.com/index.html">Link to live site</a></li>
                    <li><strong>GitHub URL</strong>: <a href="https://github.com/jdhickman9221/FedOneStudioProject">Link to GitHub Repo</a></li>
                </ul>
            </div>

        </div>

        <div class="portfolio-description">
            <h2></h2>
            <p>
                This is a study on HTML and CSS where I made a small business site. This is a fictional small business that offers instructional courses. I adhered to a pre-determined wire frame layout for a fictional client. This is a coffee focused business that teaches baristas and coffee enthusiasts about all aspects of coffee. The user can find details about the courses taught, what team member is teaching it, and when its taught. There is also a featured staff member section.
            </p>
        </div>
    </div>
</section>

